<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Edit Use Case</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/usecases" class="btn btn-lg btn-primary"><i class="fas fa-list"></i> Use Cases</a>
        </h3>
        <h2>Edit Use Case</h2>
        <form action="/usecases/update">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title" th:value="${usecase.title}" />
            </div>
            <div class="form-group">
                <label for="content">Description:</label>
                <textarea class="form-control" name="content" cols="60" rows="3" th:text="${usecase.content}"></textarea>
            </div>


            <input type="hidden" name="id" th:value="${usecase.id}" />
<!--            <input type="hidden" name="mitigation" th:value="${usecase.mitigation}" />-->
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update</button>
        </form>
    </div>
</div>
</body>
</html>