<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/usecases/create" class="btn btn-primary"><i class="fas fa-plus-square"></i> Use Case</a>
        </h3>
        <h2>My Use Case Mitigation Tool</h2>
        <div class="table-responsive">
            <table class="table" id="usecases-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Updated</th>
                    <th>Mitigation</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usecase : ${usecases}">
                    <td><a th:text="${usecase.title}" th:href="@{'/usecases/show/' + ${usecase.id}}"></a></td>
                    <td th:text="${usecase.content}"></td>
                    <td th:text="${new java.text.SimpleDateFormat('dd MMM yyyy').format(usecase.updated)}"></td>
<!--                    <td th:text="${usecase.mitigation}"></td>-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>